{% extends "blog/base.html" %}
{% block content %}
  <h2>Reset Password</h2>
  <p>Enter your email address, and we'll send you an email with a link to reset your password.</p>
  <div class = 'content-section'>  
    <form method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <label for="id_username">Username:</label>
        <input type="text" name="username" maxlength="254" class="form-control" required id="id_username">
        <label for="id_email">Email:</label>
        <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
      </fieldset>
      <div class = "form-group">
        <button type="submit" class="btn btn-primary">Request Password Reset</button>
      </div>
    </form>
  </div>  
{% endblock %}
